<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="keyword" content="geojson, geo, geojson document, geojson 中文文档">
    <meta name="description" content="Geojson 中文文档">
    <meta name="viewport" content="width=device-width">
    <link href="http://fonts.useso.com/css?family=Open+Sans:400,800" rel="stylesheet" type="text/css">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <section class="content">
      {{ content }}
    </section>
    {% if page.shownav %}
      <script src="http://cdn.hcharts.cn/jquery/jquery-2.1.1.min.js"></script>
      <script src="/js/nav.js"></script>
    {% endif %}
  </body>
</html>
